<!DOCTYPE html>
<html>
  <head>
    <title>Pitwall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Pitwall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Virtual Machines", virtual_machines_path, class: class_names('nav-link', { active: current_page?(virtual_machines_path) }) %>
        </li>
        <li class="nav-item">
           <%= link_to "Orchestrators", orchestrators_path,  class: class_names('nav-link', { active: current_page?(orchestrators_path) }) %>
        </li>
      </ul>
      <div>
        <% if current_user.present? %>
           <div class="d-flex flex-row mb-2">
           <div class="p-2"><%= current_user.email %></div>
           <div class="p-2"><%= link_to "Sign out", destroy_user_session_path, :class => "nav-link" %></div>
           </div>
        <% else %>
          <%= button_to "Sign in", omniauth_authorize_path(resource_name, "keycloakopenid"), method: :post, data: {turbo: "false"}, :class=> "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
