<%= form_with model: virtual_machine, id: dom_id(virtual_machine) do |form| %>
  <% if virtual_machine.errors.any? %>
    <div role="alert">
      Could not create a virtual machine due to the following issues:
      <ul>
        <% virtual_machine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <div aria-live></div>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.text_field :image %>
    <div aria-live></div>
  </div>
  <div>
    <%= form.label :public_key %>
    <%= form.text_area :public_key %>
    <span>NOTE: will take prescedence over public key attached to user profile</span>
    <div aria-live></div>
  </div>
  <div><%= form.button "Create VM", type: "submit", class: "btn btn-primary" %></div>
<% end %>
