<%= turbo_frame_tag "vm_main" do %>
  <%= render "filter" %>

  <%= turbo_frame_tag "vm_list" do %>
    <div>

      <div class="d-flex flex-row flex-wrap">

        <% @virtual_machines.each do |virtual_machine| %>

          <div class="card" style="width: 18rem; margin: 10px">
            <div class="card-body">
              <h5 class="card-title"><%= virtual_machine.name %></h5>
              <h6 class="card-title"><%= virtual_machine.image %></h6>
              <h6 class="card-subtitle mb-2 text-muted">Updated at:
                <%= virtual_machine.updated_at.to_formatted_s(:long) %></h6>
              <div>
                <span style="color: <%= get_status_color(virtual_machine.status) %>;"><i class="fa-sharp fa-solid fa-circle"></i></span>
                <span class="card-text">
                  <%= virtual_machine.status %></span>
              </div>
              <% if !(virtual_machine.status == "STOPPED" || virtual_machine.status == "STOPPING") %>
              <div>
              <%= button_to "Stop",
              virtual_machine_path(virtual_machine),
              method: :delete,
              form: { data: { turbo_confirm: "Are you sure?" } },
              class: "btn btn--light" %>
              </div>
              <% end %>
            </div>
          </div>

        <% end %>

      </div>

      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% end %>

  <div>
    <%= link_to "New VM", new_virtual_machine_path, data: { turbo_frame: "vm_main" } %>
  </div>
<% end %>
