<%= form_with model: @identity, url: profile_public_key_path, id: dom_id(@identity) do |form| %>
 <% if @identity.errors.any? %>
    <div role="alert">
      Could not create update public key:
      <ul>
        <% @identity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>
    <div>
        <%= form.label "Public Key" %>
        <%= form.text_area :public_key %>
        <div aria-live></div>
      </div>
</div>
<%= form.button "Update", type: "submit", class: "btn btn-primary" %></div>
<% end %>